<%- include('partials/header.ejs') %>

<div class="container mt-5">

    <div class="text-center">
        <% if (locals.joke) { %>
            <h1 class="my-5 fs-1 mg-b"> <%= joke %></h1>
        <% } %>
        <% if (locals.setup) { %>
            <h1 class="my-5 fs-1"> <%= setup %></h1>
        <% } %>

        <% if (locals.delivery) { %>
            <h1 class="my-5 fs-1"> <%= delivery %></h1>
        <% } %>
    </div>

    <form class="text-center" id="myForm" method="POST">
        <div>
            <input class="btn btn-success btn-lg" type="submit" value="Safe for work" formaction="/safe">
            <input class="btn btn-danger btn-lg" type="submit" value="Not safe for work" formaction="/nsfw">
        </div>
    </form>

</div>

<%- include('partials/footer.ejs') %>
